{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content_title %}

    {{ title }}

{% endblock%}

{% block content %}
            <ol>
                {% for course in courses %}
                    <li >
                        <a class="lead" href="{{ url_for('courses_description', course_slug=course.slug) }}">{{ course.name }}</a>
                    </li>
                {% endfor %}
            </ol>
            {% if current_user.mentor_access %}
                <form action="{{ url_for('create_course') }}" method="get">
                    <button class="btn btn-success">Add course</button>
                </form>
            {% endif %}

{% endblock %}