{% extends 'base.html'%}

{% block title %}
    {{ title }}
{% endblock %}

{% block content_title %}
    {{ title }}
{% endblock %}

{% block content %}
<div class="col-md-7" xmlns="http://www.w3.org/1999/html">
        <form action="{{ url_for('create_course') }}" method="post">
              {% for field in form %}
                    <div class="form-group">
                        {{ field.label(class='control-label') }}
                        {{ field(class='form-control') }}
                    </div>
              {% endfor %}
             <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </div>
{% endblock %}


