
{% extends 'base.html' %}

{% block title %}
   {{ title }}
{% endblock %}


{% block content_title %}
    {{ title }}
{% endblock %}

{% block content %}
     {% if description %}
        {{  description }}
     {% else %}
        <ol class="lead">
            {% for instance in list %}
                <li >
                    <a class="lead" href="{{ url_for('courses.courses_index') }}/{{ course.slug }}">{{ course.name }}</a>
                </li>
            {% endfor %}
        </ol>
     {% endif %}
{% endblock %}
