{% extends 'base.html' %}

{% block title %}
   {{ title }}
{% endblock %}


{% block content_title %}
    {{ title }}
{% endblock %}

{% block content %}
    <p class="lead">
        группа - <a class="lead" href="{{ url_for('groups') }}/{{ group.slug }}"> {{ group.name }}</a>
    </p>
    <p class="lead">
        Курсы:
        <ol class="lead">
            {% for course in courses %}
            <li >
                <a class="lead" href="{{ url_for('courses.courses_index') }}/{{ course.slug }}">{{ course.name }} </a>
            </li>
            {% endfor %}
        </ol>
    </p>
{% endblock %}