{% extends 'base.html' %}

{% block title %}
   {{ title }}
{% endblock %}


{% block content_title %}
    {{ title }}
{% endblock %}

{% block content %}
        <ol class="lead" start="{{ pages.first }}">
            {% for student in pages.items %}
                <li>
                    <a class="lead" href="{{ url_for('student_profile', student_id=student.id) }}">{{ student.first_name }} {{ student.last_name }}</a>
                </li>
            {% endfor %}
        </ol>
        <nav>
            <ul class="pagination">
               <li
                   {% if not pages.has_prev %}
                        class="page-item disabled"
                   {% else %}
                        class="page-item"
                   {% endif %}>
                   <a class="page-link" class="page-link" href="./?page={{ pages.prev_num }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
               </li>
               {% for page in pages.iter_pages(left_edge=2, left_current=1, right_current=1, right_edge=2) %}
                   <li {% if page == pages.page %} class="page-item active" {% else %} class="page-item" {% endif %}>
                       {% if page %}
                            <a class="page-link" href="./?page={{ page }}">{{ page }}<span class="sr-only">(current)</span></a>
                       {% else %}
                            <a class="page-link">{{ "..." }}<span class="sr-only">(current)</span></a>
                       {% endif %}
                   </li>
                {% endfor %}
               <li
                   {% if not pages.has_next %}
                        class="page-item disabled"
                   {% else %}
                        class="page-item"
                   {% endif %}>
                   <a class="page-link" href="./?page={{ pages.next_num }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
               </li>
            </ul>
        </nav>
{% endblock %}